{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static  '/css/home.css'  %}">
    <title>Document</title>
</head>

<body>

    <h2>Welcome Here </h2>
    <div>
        <label> Mediate.io</label><br>
        <form class="login">
            <input type="submit" value="new Account" width="148" height="48"><br>
            <input type="submit" value="Log in"><br>
        </form>



    </div>
</body>

</html>